* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  justify-content: center;
  display: flex;
  padding: 10px;
  font-size: 40px;
  background: white;
}

.icon{
  margin-left: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.leftcolumn {   
  float: left;
  width: 100%;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn{   
    width: 100%;
    padding: 0;
  }
}